
*.pyc
*.py
myenv/Lib/site-packages/annotated_types-0.6.0.dist-info/INSTALLER
myenv/Lib/site-packages/annotated_types-0.6.0.dist-info/licenses/LICENSE
myenv/Lib/site-packages/annotated_types-0.6.0.dist-info/METADATA
myenv/Lib/site-packages/annotated_types-0.6.0.dist-info/RECORD
myenv/Lib/site-packages/annotated_types-0.6.0.dist-info/WHEEL
myenv/Lib/site-packages/annotated_types/py.typed
myenv/Lib/site-packages/anyio-4.2.0.dist-info/entry_points.txt
myenv/Lib/site-packages/anyio-4.2.0.dist-info/INSTALLER
myenv/Lib/site-packages/anyio-4.2.0.dist-info/LICENSE
myenv/Lib/site-packages/anyio-4.2.0.dist-info/METADATA
myenv/Lib/site-packages/anyio-4.2.0.dist-info/RECORD
myenv/Lib/site-packages/anyio-4.2.0.dist-info/top_level.txt
myenv/Lib/site-packages/anyio-4.2.0.dist-info/WHEEL
myenv/Lib/site-packages/anyio/py.typed
myenv/Lib/site-packages/click-8.1.7.dist-info/INSTALLER
myenv/Lib/site-packages/click-8.1.7.dist-info/LICENSE.rst
myenv/Lib/site-packages/click-8.1.7.dist-info/METADATA
myenv/Lib/site-packages/click-8.1.7.dist-info/RECORD
myenv/Lib/site-packages/click-8.1.7.dist-info/top_level.txt
myenv/Lib/site-packages/click-8.1.7.dist-info/WHEEL
myenv/Lib/site-packages/click/py.typed
myenv/Lib/site-packages/colorama-0.4.6.dist-info/INSTALLER
myenv/Lib/site-packages/colorama-0.4.6.dist-info/licenses/LICENSE.txt
myenv/Lib/site-packages/colorama-0.4.6.dist-info/METADATA
myenv/Lib/site-packages/colorama-0.4.6.dist-info/RECORD
myenv/Lib/site-packages/colorama-0.4.6.dist-info/WHEEL
myenv/Lib/site-packages/fastapi-0.109.2.dist-info/INSTALLER
myenv/Lib/site-packages/fastapi-0.109.2.dist-info/licenses/LICENSE
myenv/Lib/site-packages/fastapi-0.109.2.dist-info/METADATA
myenv/Lib/site-packages/fastapi-0.109.2.dist-info/RECORD
myenv/Lib/site-packages/fastapi-0.109.2.dist-info/REQUESTED
myenv/Lib/site-packages/fastapi-0.109.2.dist-info/WHEEL
myenv/Lib/site-packages/fastapi/py.typed
myenv/Lib/site-packages/h11-0.14.0.dist-info/INSTALLER
myenv/Lib/site-packages/h11-0.14.0.dist-info/LICENSE.txt
myenv/Lib/site-packages/h11-0.14.0.dist-info/METADATA
myenv/Lib/site-packages/h11-0.14.0.dist-info/RECORD
myenv/Lib/site-packages/h11-0.14.0.dist-info/top_level.txt
myenv/Lib/site-packages/h11-0.14.0.dist-info/WHEEL
myenv/Lib/site-packages/h11/py.typed
myenv/Lib/site-packages/h11/tests/data/test-file
myenv/Lib/site-packages/idna-3.6.dist-info/INSTALLER
myenv/Lib/site-packages/idna-3.6.dist-info/LICENSE.md
myenv/Lib/site-packages/idna-3.6.dist-info/METADATA
myenv/Lib/site-packages/idna-3.6.dist-info/RECORD
myenv/Lib/site-packages/idna-3.6.dist-info/WHEEL
myenv/Lib/site-packages/idna/py.typed
myenv/Lib/site-packages/pip-24.0.dist-info/AUTHORS.txt
myenv/Lib/site-packages/pip-24.0.dist-info/entry_points.txt
myenv/Lib/site-packages/pip-24.0.dist-info/INSTALLER
myenv/Lib/site-packages/pip-24.0.dist-info/LICENSE.txt
myenv/Lib/site-packages/pip-24.0.dist-info/METADATA
myenv/Lib/site-packages/pip-24.0.dist-info/RECORD
myenv/Lib/site-packages/pip-24.0.dist-info/REQUESTED
myenv/Lib/site-packages/pip-24.0.dist-info/top_level.txt
myenv/Lib/site-packages/pip-24.0.dist-info/WHEEL
myenv/Lib/site-packages/pip/_vendor/cachecontrol/py.typed
myenv/Lib/site-packages/pip/_vendor/certifi/cacert.pem
myenv/Lib/site-packages/pip/_vendor/certifi/py.typed
myenv/Lib/site-packages/pip/_vendor/chardet/py.typed
myenv/Lib/site-packages/pip/_vendor/distlib/t32.exe
myenv/Lib/site-packages/pip/_vendor/distlib/t64-arm.exe
myenv/Lib/site-packages/pip/_vendor/distlib/t64.exe
myenv/Lib/site-packages/pip/_vendor/distlib/w32.exe
myenv/Lib/site-packages/pip/_vendor/distlib/w64-arm.exe
myenv/Lib/site-packages/pip/_vendor/distlib/w64.exe
myenv/Lib/site-packages/pip/_vendor/distro/py.typed
myenv/Lib/site-packages/pip/_vendor/idna/py.typed
myenv/Lib/site-packages/pip/_vendor/packaging/py.typed
myenv/Lib/site-packages/pip/_vendor/platformdirs/py.typed
myenv/Lib/site-packages/pip/_vendor/pyparsing/py.typed
myenv/Lib/site-packages/pip/_vendor/resolvelib/py.typed
myenv/Lib/site-packages/pip/_vendor/rich/py.typed
myenv/Lib/site-packages/pip/_vendor/tenacity/py.typed
myenv/Lib/site-packages/pip/_vendor/tomli/py.typed
myenv/Lib/site-packages/pip/_vendor/truststore/py.typed
myenv/Lib/site-packages/pip/_vendor/vendor.txt
myenv/Lib/site-packages/pip/py.typed
myenv/Lib/site-packages/pydantic-2.6.1.dist-info/INSTALLER
myenv/Lib/site-packages/pydantic-2.6.1.dist-info/licenses/LICENSE
myenv/Lib/site-packages/pydantic-2.6.1.dist-info/METADATA
myenv/Lib/site-packages/pydantic-2.6.1.dist-info/RECORD
myenv/Lib/site-packages/pydantic-2.6.1.dist-info/WHEEL
myenv/Lib/site-packages/pydantic/py.typed
myenv/Lib/site-packages/pydantic/v1/py.typed
myenv/Lib/site-packages/pydantic_core-2.16.2.dist-info/INSTALLER
myenv/Lib/site-packages/pydantic_core-2.16.2.dist-info/license_files/LICENSE
myenv/Lib/site-packages/pydantic_core-2.16.2.dist-info/METADATA
myenv/Lib/site-packages/pydantic_core-2.16.2.dist-info/RECORD
myenv/Lib/site-packages/pydantic_core-2.16.2.dist-info/WHEEL
myenv/Lib/site-packages/pydantic_core/_pydantic_core.cp312-win_amd64.pyd
myenv/Lib/site-packages/pydantic_core/_pydantic_core.pyi
myenv/Lib/site-packages/pydantic_core/py.typed
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/INSTALLER
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/LICENSE
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/LICENSE.APACHE2
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/LICENSE.MIT
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/METADATA
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/RECORD
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/top_level.txt
myenv/Lib/site-packages/sniffio-1.3.0.dist-info/WHEEL
myenv/Lib/site-packages/sniffio/py.typed
myenv/Lib/site-packages/starlette-0.36.3.dist-info/INSTALLER
myenv/Lib/site-packages/starlette-0.36.3.dist-info/licenses/LICENSE.md
myenv/Lib/site-packages/starlette-0.36.3.dist-info/METADATA
myenv/Lib/site-packages/starlette-0.36.3.dist-info/RECORD
myenv/Lib/site-packages/starlette-0.36.3.dist-info/WHEEL
myenv/Lib/site-packages/starlette/py.typed
myenv/Lib/site-packages/typing_extensions-4.9.0.dist-info/INSTALLER
myenv/Lib/site-packages/typing_extensions-4.9.0.dist-info/LICENSE
myenv/Lib/site-packages/typing_extensions-4.9.0.dist-info/METADATA
myenv/Lib/site-packages/typing_extensions-4.9.0.dist-info/RECORD
myenv/Lib/site-packages/typing_extensions-4.9.0.dist-info/WHEEL
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/entry_points.txt
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/INSTALLER
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/licenses/LICENSE.md
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/METADATA
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/RECORD
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/REQUESTED
myenv/Lib/site-packages/uvicorn-0.27.1.dist-info/WHEEL
myenv/Lib/site-packages/uvicorn/py.typed
myenv/pyvenv.cfg
myenv/Scripts/activate
myenv/Scripts/activate.bat
myenv/Scripts/Activate.ps1
myenv/Scripts/deactivate.bat
myenv/Scripts/pip.exe
myenv/Scripts/pip3.12.exe
myenv/Scripts/pip3.exe
myenv/Scripts/python.exe
myenv/Scripts/pythonw.exe
myenv/Scripts/uvicorn.exe
